# Basit yerel MongoDB bağlantısı (geliştirme için)
MONGODB_URI=mongodb://localhost:27017/portfolio

# MongoDB Atlas (Cloud) - Ücretsiz
# MONGODB_URI=mongodb+srv://username:password@cluster0.xxxxx.mongodb.net/portfolio?retryWrites=true&w=majority

# Yerel MongoDB (Homebrew ile kurulduktan sonra)
# MONGODB_URI=mongodb://localhost:27017/portfolio

PORT=3001
NODE_ENV=development
